.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:url(1.png);
    background-size: cover;
    height: 920px;
}
.registerTitle{
    color: aliceblue;
    margin-left: 210px;
    background-color:#000000;
    outline: 2px solid rgb(0, 221, 255);
    color: aliceblue;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.registerForm{
    padding-left: 900px;
    display:grid;
}

.user{
    background-color:#000000;
    outline: 2px solid rgb(0, 221, 255);
    color: aliceblue;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    margin-bottom: 10px; 
}

.user1{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-family: 'Inter', serif;
}

.mail{
    background-color:#000000;
    outline: 2px solid rgb(0, 221, 255);
    color: aliceblue;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.mail1{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-family: 'Inter', serif;
}

.pass{
    background-color:#000000;
    outline: 2px solid rgb(0, 221, 255);
    color: aliceblue;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.pass1{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-family: 'Inter', serif;
}

.loginButt{
    margin-left: 1075px;
    padding-right: 50px;
    background-color:#00ffff;
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    font-family: 'Inter', serif;
}

.registerButt{
    color: aliceblue;
    margin-left: 200px;
    margin-bottom: 10px;
    background-color:#00ffff;
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    font-family: 'Inter', serif;
}

.pass2{
    background-color:#000000;
    outline: 2px solid rgb(0, 221, 255);
    color: aliceblue;
    width: 300px;
    height: 25px;
    margin-left:1015px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    margin-bottom: 10px;
}


@media only screen and (min-width: 321px) and (max-width:1280px) {
    .register{
        height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background:url(2.png);
        background-size: cover;
        height: 1000px;
    }

    .registerForm{
        padding-top: 300px;
        padding-left: 100px;
        display:grid;
    }
    .user{
        background-color:#000000;
        outline: 2px solid rgb(0, 221, 255);
        color: aliceblue;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        object-fit: cover;
        text-align: center;
        font-family: 'Inter', serif;
        font-size: 20px;
        margin-bottom: 10px; 
    }
    
    .user1{
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 100px;
        font-family: 'Inter', serif;
    }

    .mail{
        background-color:#000000;
        outline: 2px solid rgb(0, 221, 255);
        color: aliceblue;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        object-fit: cover;
        text-align: center;
        font-family: 'Inter', serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .mail1{
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 100px;
        font-family: 'Inter', serif;
    }
    
    .pass{
        background-color:#000000;
        outline: 2px solid rgb(0, 221, 255);
        color: aliceblue;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        object-fit: cover;
        text-align: center;
        font-family: 'Inter', serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .pass1{
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 100px;
        font-family: 'Inter', serif;
    }
    
    .loginButt{
        margin-left: 260px;
        background-color:#00ffff;
        color: rgb(0, 0, 0);
        width: 120px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
        font-family: 'Inter', serif;
    }
    
    .registerButt{
        color: aliceblue;
        margin-left: 190px;
        margin-bottom: 10px;
        background-color:#00ffff;
        color: rgb(0, 0, 0);
        width: 120px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
        font-family: 'Inter', serif;
    }

    .registerTitle{
        color: aliceblue;
        margin-left: 200px;
        background-color:#000000;
        outline: 2px solid rgb(0, 221, 255);
        color: aliceblue;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        object-fit: cover;
        text-align: center;
        font-family: 'Inter', serif;
        font-size: 20px;
        margin-bottom: 10px;
        
    }

    .pass2{
        background-color:#000000;
        outline: 2px solid rgb(0, 221, 255);
        color: aliceblue;
        width: 300px;
        height: 25px;
        margin-left:200px;
        border-radius: 5px;
        object-fit: cover;
        text-align: center;
        font-family: 'Inter', serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
}